<!DOCTYPE html>
<html ng-app="LectureApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
	<script src="~/Scripts/App.js"></script>
	<script src="~/Scripts/LecturesController.js"></script>
	<script src="http://code.angularjs.org/1.0.6/angular-resource.js"></script>

	@RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
